name: "ci"

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      
      - run: pnpm install
      - run: pnpm test

on:
  push:
    branches: [main]